/* heading  */
/* 
#admin_navbar {
    color: black;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
    background-color: hsl(174, 97%, 43%);
}

.cust-container {
    width: 100%;
}

nav {
    background-color: #03dac6;
    color: black;
    
}

.sidebar1 {
    height: 100%;
}
.f{
    margin-top: 90px;
}

.sidebar2 {
    height: 100vh;
}

.heading_admin {
    padding-left: 550px;
    padding-top: 17px;
    padding-bottom: 20px;
}

.admin_title {
    padding-left: 33px;
} */


/* card start */
 div .card{
     color: cornsilk;
     max-width: 18rem;
     

     
 }


 .btn{
     color: cornsilk;
 }
  .r1{ text-align: center;

 }
 p{
     background-color: black;
     color: blanchedalmond;
 }

 
 /*card end  */