/* heading  */

#admin_navbar {
    color: black;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
    background-color: #03dac6;
}

.cust-container {
    width: 100%;
}

nav {
    background-color: #03dac6;
    color: black;
}

.sidebar1 {
    height: 100%;
}

.sidebar2 {
    height: 100vh;
}