/* Make Header Image Responsive */

.back-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    border-radius: 0px;
    margin-top: 50px;
}


/* Setting Margin for Welcome to OSMS */

.mainHeading {
    margin-top: 50px;
}


/* Setting Margin and Alignment for Welcome to OSM Mobile View */

@media only screen and (max-width: 600px) {
    .myclass {
        margin-top: 350px;
        text-align: center;
    }
}

.search_form {
    margin-top: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    margin-left: 70px;
}

.ragibtn:hover {
    background-color: crimson;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    /* background-color: #cccccc; */
    height: 500px;
    background-size: cover;
    /* display: ; */
    background-attachment: fixed;
}

img {
    height: 100px;
    margin-bottom: 15px;
    border-radius: 200px 200px 200px 200px;
    width: 94px;
}

.card {
    display: flex;
    justify-content: space-between;
}