@font-face {
    font-family: wobbletitle;
    src: url(Quicksand-SemiBold.ttf);
}


/* wobble font */

.wobblefont {
    font-family: wobbletitle;
}


/* paragraph font */

@font-face {
    font-family: paragraphtitle;
    src: url(Quicksand-Regular.ttf);
}

.paragraphfont {
    font-family: paragraphtitle;
}

.wobblebanner p {
    font-family: paragraphtitle;
}

.cust-container {
    width: 100%;
}

#bannerid {
    height: 524px;
    margin-top: 37px;
}

#h2dis {
    margin-top: 34px;
}

.contact {
    margin-top: 50px;
}